# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.venv

# Node
node_modules/
dist/
build/
.vite/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
*.tmp
*.temp
/tmp/
*.pdf
!Latex\ 简历演示/*.pdf
!存放\ PDF/*.pdf

# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
