[submodule "tools/open-cli"]
	path = tools/open-cli
	url = https://github.com/spectreconsole/open-cli.git
[submodule "tools/CLI-Anything"]
	path = tools/CLI-Anything
	url = https://github.com/HKUDS/CLI-Anything.git
